In [16]:
import numpy as np
import pandas as pd

In [8]:
df=pd.read_csv("crop_data.csv")
df

      Crops  Distance  Prices
0    Rubber       974      15
1      Rice       703      37
2     Wheat       725      37
3     Maize       661     104
4    Rubber       206      19
..      ...       ...     ...
495  Barley       974      63
496   Wheat       983      31
497   Wheat       860      32
498   Wheat       776      38
499  Rubber       229      13

[500 rows x 3 columns]

## Score
score=sqrt((A1x(distance-customer_distance))^2 + (A2xprices)^2)

Current A1=0.7
        A2=0.2

In [87]:
def find_score(distance,cust_distance,price):
    distance_score=0.7*(distance-cust_distance)**2
    price_score=(0.2*price)**2
    score=(distance_score+price_score)**0.5
    return score

In [88]:
def find_min_score(df,crop_name,cust_distance):
    df_crop=df[df.Crops==crop_name]
    df_score=find_score(df_crop.Distance,cust_distance,df_crop.Prices)
    print(cust_distance)
    return df_score

In [89]:
df_score=find_min_score(df,"Wheat",np.random.randint(0,1000))
# print(df_score)
print(df_score.idxmin())
print(df_score.min())

677
289
6.5038450166036395

In [94]:
df_score.loc[289]

6.5038450166036395

In [96]:
df.loc[289]

Crops       Wheat
Distance      680
Prices         30
Name: 289, dtype: object